<tr>
    <td class="checkbox" >
        <input type="checkbox" (click)="done()">
    </td>
    <td class="titulo done" *ngIf="tarefa.feito">
        {{tarefa.titulo}}
    </td>
    <td class="titulo" *ngIf="!tarefa.feito" >
        {{tarefa.titulo}}
    </td>
    <td class="prioridade" *ngIf="tarefa.prioridade==1&&!tarefa.feito">
        Prioridade Baixa
    </td>
    <td class="prioridade" *ngIf="tarefa.prioridade==2&&!tarefa.feito">
        Prioridade Média
    </td>
    <td class="prioridade" *ngIf="tarefa.prioridade==3&&!tarefa.feito">
        Prioridade Alta
    </td>

    <td class="prioridade done" *ngIf="tarefa.prioridade==1&&tarefa.feito">
        Prioridade Baixa
    </td>
    <td class="prioridade done" *ngIf="tarefa.prioridade==2&&tarefa.feito">
        Prioridade Média
    </td>
    <td class="prioridade done" *ngIf="tarefa.prioridade==3&&tarefa.feito">
        Prioridade Alta
    </td>

    <td class="delete">
        <i class="material-icons" >delete</i>
    </td>
</tr>
